apiVersion: v1
kind: Service
metadata:
  name: project-service
  namespace: grud
  labels:
    app: project-service
    app.kubernetes.io/name: project-service
    app.kubernetes.io/component: api
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
      nodePort: 30081
  selector:
    app: project-service
