# =============================================================================
# HTTPRoute for Grafana (grafana.grudapp.com)
# =============================================================================
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana-route
  namespace: infra
spec:
  parentRefs:
    - name: grud-gateway
      namespace: grud
  hostnames:
    - "grafana.grudapp.com"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: grafana-gateway
          port: 80
