apiVersion: v1
kind: Service
metadata:
  name: student-service
  namespace: grud
  labels:
    app: student-service
    app.kubernetes.io/name: student-service
    app.kubernetes.io/component: api
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
      nodePort: 30080
  selector:
    app: student-service
